<button>
  <a href="https://www.youtube.com/watch?v=PdLpeXd5plc">Links</a>
</button>

<mat-toolbar color="primary">
  <img width="200" src="assets/logo.png" alt="">
  <span class="example-spacer"></span>

  <button routerLink="/links" mat-raised-button color="accent">
    LINKCS
  </button>

  <button class="m-2" routerLink="/list" mat-raised-button color="accent">
    Просмотреть список
  </button>
</mat-toolbar>

<div class="container mt-4">
  <router-outlet></router-outlet>
</div>

<lib-ng-toast></lib-ng-toast>
<ng-confirm></ng-confirm>
